@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body {
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #11037c 0%, #8c2121 100%);
}

p {
color: aquamarine;
}

.nav-link {
    color: rgb(190, 190, 190);

}

.navbar-nav .nav-link.active,
.btn-outline-primary {
    background: linear-gradient(270deg, #11037c 0%, #721919 100%);
    


}

.navbar-brand img {
    width: 40px;

}

.navbar-toggler {
    background-color: rgb(190, 190, 190);
}

.sidebar {
    color: aquamarine;
    background: linear-gradient(270deg, #11037c 0%, #721919 100%);
}

.card{
    background: linear-gradient(270deg, #11037c 0%, #721919 100%);
    color: aquamarine;
}

.slide-text,
.footer-text{
    color: aquamarine;
    margin: auto auto;
}

.media-links{
    display: flex;
    justify-content: center;
    align-items: center;

}

.call-anim{
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 0;
	}

	10% {
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-4deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(4deg);
	}

	80% {
		transform: rotate(-2deg);
	}

	90% {
		transform: rotate(2deg);
	}
}

@media(max-width: 755px){
    .carousel-indicators{
        display: none;
    } 
}

@media(max-width: 800px){
    .media-links{
        padding-bottom: 1em;
    }
}

